<!DOCTYPE html>

<html>

<head>
    <title>Calculate Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body onpageshow="handleOnLoad()">
    <div class="main-content">
        {{>header}}

        <p>Enter the schedule details.</p>

        <form>
            <label for="lapLength">Lap Length:</label>
            <input type="number" id="lapLength" name="lapLength" step="0.001" placeholder="(metres)" value={{lapLength}}><br>
            <label for="scheduleType">Sched. Type:</label>
            <select id="scheduleType" name="scheduleType">
                <option value="rideDistance">Ride Distance</option>
                <option value="rideTime">Ride Time</option>
            </select><br>
            <input type="hidden" id="scheduleTypeHidden" name="scheduleTypeHidden" value={{scheduleType}}>
            <div id="distanceLapsSection">
                <label for="distanceLaps">Distance:</label>
                <input type="number" id="distanceLaps" name="distanceLaps" step="0.001" placeholder="(laps)" value={{distanceLaps}}><br>
            </div>
            <div id="rideTimeSection">
                <label for="rideTime">Ride Time:</label>
                <input id="rideTime" name="rideTime" placeholder="(H:MM:SS)" value={{rideTime}}><br>
            </div>
            <label for="scheduleBy">Schedule By:</label>
            <select id="scheduleBy" name="scheduleBy">
                <option value="tempo">Lap Tempo Target</option>
                <option value="time">Time Target</option>
                <option value="distance">Distance Target</option>
                <option value="speed">Speed Tempo Target</option>
                <option value="cadence">Cadence Tempo Target</option>
            </select><br>
            <input type="hidden" id="scheduleByHidden" name="scheduleByHidden" value={{scheduleBy}}>
            <div id="tempoSection">
                <label for="tempo">Tempo:</label>
                <input type="number" id="tempo" name="tempo" step="0.001" placeholder="(sec)" value={{tempo}}><br>
            </div>
            <div id="timeSection">
                <label for="time">Time:</label>
                <input id="time" name="time" placeholder="(H:MM:SS)" value={{time}}><br>
            </div>
            <div id="distanceSection">
                <label for="distance">Distance:</label>
                <input type="number" id="distance" name="distance" step="0.001" placeholder="(laps)" value={{distance}}><br>
            </div>
            <div id="speedSection">
                <label for="speed">Speed:</label>
                <input type="number" id="speed" name="speed" step="0.001" placeholder="(km/h)" value={{speed}}><br>
            </div>
           <div id="cadenceSection">
                <label for="cadence">Cadence:</label>
                <input type="number" id="cadence" name="cadence" step="0.001" placeholder="(rpm)" value={{cadence}}><br>
            </div>
            <label for="startType">Start Type:</label>
            <select id="startType" name="startType">
                <option value="standing">Standing</option>
                <option value="flying">Flying</option>
            </select><br>
            <input type="hidden" id="startTypeHidden" name="startTypeHidden" value={{startType}}>
            <div id="upToSpeedSection">
                <label for="upToSpeed">Up To Speed:</label>
                <input type="number" id="upToSpeed" name="upToSpeed" step="0.001" placeholder="(sec)" value={{upToSpeed}}><br>
            </div>
            <label for="timingsAt">Timings At:</label>
            <select id="timingsAt" name="timingsAt">
                <option value="halfLap">Half Lap and Finish</option>
                <option value="fullLap">Full Lap</option>
                <option value="both">Both Half and Full Lap</option>
            </select><br>
            <input type="hidden" id="timingsAtHidden" name="timingsAtHidden" value={{timingsAt}}>
            <input class="checkbox-input" type="checkbox" id="provideGearCheckBox" name="provideGearCheckBox" value="provideGear">
            <label class="checkbox-label" for="provideGearCheckBox">Provide Gear?</label><br>
            <div id="gearSection">
                <label for="chainRing">Chain Ring:</label>
                <input type="number" id="chainRing" name="chainRing" value={{chainRing}}><br>
                <label for="cog">Cog:</label>
                <input type="number" id="cog" name="cog" value={{cog}}><br>
                <label for="tyreWidth">Tyre Width:</label>
                <input type="number" id="tyreWidth" name="tyreWidth" placeholder="23" value={{tyreWidth}}><br>
                <label for="rimType">Rim Type:</label>
                <select id="rimType" name="rimType">
                    <option value="700c">700c (622mm)</option>
                    <option value="650c">650c (571mm)</option>
                </select><br>
                <input type="hidden" id="rimTypeHidden" name="rimTypeHidden" value={{rimType}}>
                <input type="hidden" id="rimTypeOptionsListHidden" name="rimTypeOptionsListHidden" value={{rimTypeOptionsList}}>
                <input type="hidden" id="rimTypeDescriptionsListHidden" name="rimTypeDescriptionsListHidden" value={{rimTypeDescriptionsList}}>
            </div>
            <button class="fields-button">Calculate</button>
        </form>

        <div id="scheduleText">
            <h2 id="scheduleLabel">Placeholder</h2>
            <p id="scheduleDescription">Placeholder</p>
        </div>

        <p class="bold-text" id="message-1">Schedule outcome</p>

        <div class="output-table" id="outcomeTable">
            <p>Placeholder</p>
        </div>

        <p class="bold-text" id="message-2">Schedule segment details</p>

        <div id="showSection">
            <form>
                <label for="showData">Show:</label>
                <select id="showData" name="showData">
                    <option value="keyDataOnly">Key Data Only</option>
                    <option value="incSegmentData">Include Segment Data (wide)</option>
                </select>
            </form>
        </div>

        <div class="output-table" id="outputTable">
            <p>Placeholder</p>
        </div>

        <div id="gearInfoSection">
            <p class="bold-text">Gear Info</p>
            <div class="output-table" id="gearInfoTable">
                <p>Placeholder</p>
            </div>
        </div>

        <p id="outputText">Output</p>

    </div>

    {{>footer}}

    <script src="/js/calcSchedule.js"></script>
</body>

</html>