<!DOCTYPE html>

<html>

<head>
    <title>Cassette Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body onpageshow="handleOnLoad()">
    <div class="main-content">
        {{>header}}

        <p>Enter information about your cassette.</p>

        <form>
            <label for="measure">Measure:</label>
            <select id="measure" name="measure">
                <option value="metric">Metric</option>
                <option value="imperial">Imperial</option>
            </select><br>
            <input type="hidden" id="measureHidden" name="measureHidden" value={{measure}}>
            <label for="speedSelect">Sp / Cass:</label>
            <select id="speedSelect" name="speedSelect">
                <option value="none">(optional)</option>
            </select>
            <select id="cassetteSelect" name="cassetteSelect">
                <option value="none">(optional)</option>
            </select><br>
            <input type="hidden" id="speedOptionsHidden" name="speedOptionsHidden" value={{speedOptions}}>
            <label for="cogs">Cogs:</label>
            <input class="long-input" id="cogs" name="cogs" value={{cogs}}><br>
            <label for="chainRings">Chain Rings:</label>
            <input id="chainRings" name="chainRings" value={{chainRings}}><br>
            <label for="tyreWidth">Tyre Width:</label>
            <input type="number" id="tyreWidth" name="tyreWidth" placeholder="23" value={{tyreWidth}}><br>
            <label for="rimType">Rim Type:</label>
            <select id="rimType" name="rimType">
                <option value="700c">700c (622mm)</option>
                <option value="650c">650c (571mm)</option>
            </select><br>
            <input type="hidden" id="rimTypeHidden" name="rimTypeHidden" value={{rimType}}>
            <input type="hidden" id="rimTypeOptionsListHidden" name="rimTypeOptionsListHidden" value={{rimTypeOptionsList}}>
            <input type="hidden" id="rimTypeDescriptionsListHidden" name="rimTypeDescriptionsListHidden" value={{rimTypeDescriptionsList}}>
            <label for="extras">Extras:</label>
            <select id="extras" name="extras">
                <option value="none">None</option>
                <option value="cadence">Cadence for given Speed</option>
                <option value="speed">Speed for given Cadence</option>
                <option value="cadenceLapTime">Cadence for given Lap Time</option>
            </select><br>
            <input type="hidden" id="extrasHidden" name="extrasHidden" value={{extras}}>
            <div id="speedSection">
                <label for="speed">Speed:</label>
                <input type="number" id="speed" name="speed" step="0.001" placeholder="(km/h)" value={{speed}}><br>
            </div>
            <div id="cadenceSection">
                <label for="cadence">Cadence:</label>
                <input type="number" id="cadence" name="cadence" step="0.001" placeholder="(rpm)" value={{cadence}}><br>
            </div>
            <div id="lapTimeSection">
                <label for="lapTime">Lap Time:</label>
                <input type="number" id="lapTime" name="lapTime" step="0.001" placeholder="(seconds)" value={{lapTime}}><br>
            </div>
            <div id="lapLengthSection">
                <label for="lapLength">Lap Length:</label>
                <input type="number" id="lapLength" name="lapLength" step="0.001" placeholder="(optional, metres)" value={{lapLength}}><br>
            </div>
            <button class="fields-button">Calculate</button>
        </form>

        <p class="bold-text" id="message-1">Your cassette details...</p>

        <div id="showSection">
            <form>
                <label for="showData">Show:</label>
                <select id="showData" name="showData">
                    <option value="gearRatio">Gear Ratio</option>
                    <option value="gearInches">Gear Inches</option>
                    <option value="rollOut">Roll Out</option>
                </select>
            </form>
        </div>

        <div class="output-table" id="outputTable">
            <p>Placeholder</p>
        </div>

    </div>

    {{>footer}}

    <script src="/js/cassetteDetails.js"></script>
</body>

</html>