<!DOCTYPE html>

<html>

<head>
    <title>Compare 2 Gears</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body onpageshow="handleOnLoad()">
    <div class="main-content">
        {{>header}}

        <p>Enter information for the 2 gears.</p>

        <form>
            <label for="measure">Units:</label>
            <select id="measure" name="measure">
                <option value="metric">Metric</option>
                <option value="imperial">Imperial</option>
            </select><br>
            <input type="hidden" id="measureHidden" name="measureHidden" value={{measure}}>
            <label for="circumfranceApproach">Circumfrance:</label>
            <select id="circumfranceApproach" name="circumfranceApproach">
                <option value="estimated">Use Estimated</option>
                <option value="measured">Use Measured</option>
            </select><br>
            <input type="hidden" id="circumfranceApproachHidden" name="circumfranceApproachHidden" value={{circumfranceApproach}}>
            <label>Gears:</label>
            <label class="column-label">Gear 1</label>
            <label class="column-label">Gear 2</label><br>
            <label>Chain Ring:</label>
            <input type="number" id="chainRing1" name="chainRing1" value={{chainRing1}}>
            <input type="number" id="chainRing2" name="chainRing2" value={{chainRing2}}><br>
            <label>Cog:</label>
            <input type="number" id="cog1" name="cog1" value={{cog1}}>
            <input type="number" id="cog2" name="cog2" value={{cog2}}><br>
            <div id="tyreWidthSection">
                <label>Tyre Width:</label>
                <input type="number" id="tyreWidth1" name="tyreWidth1" placeholder="23" value={{tyreWidth1}}>
                <input type="number" id="tyreWidth2" name="tyreWidth2" placeholder="23" value={{tyreWidth2}}><br>
            </div>
            <div id="rimTypeSection">
                <label>Rim Type:</label>
                <select class="column-select" id="rimType1" name="rimType1">
                    <option value="700c">700c</option>
                    <option value="650c">650c</option>
                </select>
                <select class="column-select" id="rimType2" name="rimType2">
                    <option value="700c">700c</option>
                    <option value="650c">650c</option>
                </select><br>
            </div>
            <input type="hidden" id="rimType1Hidden" name="rimType1Hidden" value={{rimType1}}>
            <input type="hidden" id="rimType2Hidden" name="rimType2Hidden" value={{rimType2}}>
            <input type="hidden" id="rimTypeOptionsListHidden" name="rimTypeOptionsListHidden" value={{rimTypeOptionsList}}>
            <input type="hidden" id="rimTypeDescriptionsListHidden" name="rimTypeDescriptionsListHidden" value={{rimTypeDescriptionsList}}>
            <div id="measuredCircumfranceSection">
                <label>Meas'd Circ.:</label>
                <input type="number" id="measuredCircumfrance1" name="measuredCircumfrance1" step="0.001" placeholder="(mm)" value={{measuredCircumfrance1}}>
                <input type="number" id="measuredCircumfrance2" name="measuredCircumfrance2" step="0.001" placeholder="(mm)" value={{measuredCircumfrance2}}><br>
            </div>
            <label>Cranks:</label>
            <input type="number" id="crankLength1" name="crankLength1" step="0.001" placeholder="172.5" value={{crankLength1}}>
            <input type="number" id="crankLength2" name="crankLength2" step="0.001" placeholder="172.5" value={{crankLength2}}><br>
            <label for="extras">Extras:</label>
            <select id="extras" name="extras">
                <option value="none">None</option>
                <option value="cadence">Cadence for given Speed</option>
                <option value="speed">Speed for given Cadence</option>
                <option value="cadenceLapTime">Cadence for given Lap Time</option>
            </select><br>
            <input type="hidden" id="extrasHidden" name="extrasHidden" value={{extras}}>
            <div id="speedSection">
                <label for="speed">Speed:</label>
                <input type="number" id="speed" name="speed" step="0.001" placeholder="(km/h)" value={{speed}}><br>
            </div>
            <div id="cadenceSection">
                <label for="cadence">Cadence:</label>
                <input type="number" id="cadence" name="cadence" step="0.001" placeholder="(rpm)" value={{cadence}}><br>
            </div>
            <div id="lapTimeSection">
                <label for="lapTime">Lap Time:</label>
                <input type="number" id="lapTime" name="lapTime" step="0.001" placeholder="(seconds)" value={{lapTime}}><br>
            </div>
            <div id="lapLengthSection">
                <label for="lapLength">Lap Length:</label>
                <input type="number" id="lapLength" name="lapLength" step="0.001" placeholder="(optional, metres)" value={{lapLength}}><br>
            </div>
            <button class="fields-button">Calculate</button>
        </form>

        <p class="bold-text" id="message-1">Your gear details...</p>

        <div class="output-table" id="outputTable">
            <p>Placeholder</p>
        </div>

    </div>

    {{>footer}}

    <script src="/js/compare2Gears.js"></script>
</body>

</html>