<!DOCTYPE html>

<html>

<head>
    <title>Find Gear</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body onpageshow="handleOnLoad()">
    <div class="main-content">
        {{>header}}

        <p>Enter information about the gear.</p>

        <form>
            <label for="findFor">Find For:</label>
            <select id="findFor" name="findFor">
                <option value="gearInches">Gear Inches</option>
                <option value="gearRatio">Gear Ratio</option>
                <option value="rollOut">Roll Out</option>
                <option value="speedCadence">Speed and Cadence</option>
                <option value="lapTimeCadence">Lap Time and Cadence</option>
            </select><br>
            <input type="hidden" id="findForHidden" name="findForHidden" value={{findFor}}>
            <div id="gearInchesSection">
                <label for="gearInches">Gear Inches:</label>
                <input type="number" id="gearInches" name="gearInches" step="0.001" value={{gearInches}}>
                <label class="sub-label" for="plusOrMinus">+/-</label>
                <input class="sub-input" type="number" id="plusOrMinus" name="plusOrMinus" step="0.001" placeholder="1" value={{plusOrMinus}}><br>
            </div>
            <div id="gearRatioSection">
                <label for="gearRatio">Gear Ratio:</label>
                <input type="number" id="gearRatio" name="gearRatio" step="0.001" value={{gearRatio}}>
                <label class="sub-label" for="plusOrMinus2">+/-</label>
                <input class="sub-input" type="number" id="plusOrMinus2" name="plusOrMinus2" step="0.001" placeholder="0.1" value={{plusOrMinus2}}><br>
            </div>
            <div id="rollOutSection">
                <label for="rollOut">Roll Out:</label>
                <input type="number" id="rollOut" name="rollOut" step="0.001" placeholder="(metres)" value={{rollOut}}>
                <label class="sub-label" for="maxDiff">to -</label>
                <input class="sub-input" type="number" id="maxDiff" name="maxDiff" step="0.001" placeholder="0.5" value={{maxDiff}}><br>
            </div>
            <div id="speedSection">
                <label for="speed">Speed:</label>
                <input type="number" id="speed" name="speed" step="0.001" placeholder="(km/h)" value={{speed}}><br>
            </div>
            <div id="lapSection">
                <label for="lapTime">Lap Time:</label>
                <input type="number" id="lapTime" name="lapTime" step="0.001" placeholder="(sec)" value={{lapTime}}><br>
                <label for="lapLength">Lap Length:</label>
                <input type="number" id="lapLength" name="lapLength" step="0.001" placeholder="(m)" value={{lapLength}}><br>
            </div>
            <div id="cadenceSection">
                <label for="cadence">Cadence:</label>
                <input type="number" id="cadence" name="cadence" step="0.001" placeholder="(rpm)" value={{cadence}}><br>
            </div>
            <div id="fixedSection">
                <label for="fixed">Fixed:</label>
                <select id="fixed" name="fixed">
                    <option value='cadence'>Cadence</option>
                    <option value='speed'>Speed</option>
                </select><br>
            </div>
            <input type="hidden" id="fixedHidden" name="fixedHidden" value={{fixed}}>
            <div id="tyreWidthSection">
                <label for="tyreWidth">Tyre Width:</label>
                <input type="number" id="tyreWidth" name="tyreWidth" placeholder="23" value={{tyreWidth}}><br>
            </div>
            <div id="rimTypeSection">
                <label for="rimType">Rim Type:</label>
                <select id="rimType" name="rimType">
                    <option value='700c'>700c</option>
                    <option value='650c'>650c</option>
                </select><br>
            </div>
            <input type="hidden" id="rimTypeHidden" name="rimTypeHidden" value={{rimType}}>
            <input class="checkbox-input" type="checkbox" id="minMaxCheckBox" name="minMaxCheckBox" value="setMinMax">
            <label class="checkbox-label" for="minMaxCheckBox">Show min and max options</label><br>
            <input type="hidden" id="showMinMaxHidden" name="showMinMaxHidden" value={{showMinMax}}>
            <div id="minMaxSection">
                <label class="min-max-main-label">Chain Ring:</label>
                <label class="sub-label" for="minChainRing">Min:</label>
                <input class="sub-input" type="number" id="minChainRing" name="minChainRing" placeholder="34" value={{minChainRing}}>
                <label class="sub-label" for="maxChainRing">Max:</label>
                <input class="sub-input" type="number" id="maxChainRing" name="maxChainRing" placeholder="60" value={{maxChainRing}}><br>
                <label class="min-max-main-label">Cog:</label>
                <label class="sub-label" for="minCog">Min:</label>
                <input class="sub-input" type="number" id="minCog" name="minCog" placeholder="10" value={{minCog}}>
                <label class="sub-label" for="maxCog">Max:</label>
                <input class="sub-input" type="number" id="maxCog" name="maxCog" placeholder="36" value={{maxCog}}><br>
            </div>
            <button class="fields-button">Find</button>
        </form>

        <p class="bold-text" id="message-1">Your gear options...</p>

        <div id="sortSelect">
            <form>
                <label for="sortBy">Sort by:</label>
                <select id="sortBy" name="sortBy">
                    <option value="none">None</option>
                </select>
            </form>
        </div>

        <div class="output-table" id="outputTable">
            <p>Placeholder</p>
        </div>

        <p id="outputText">Output</p>

    </div>

    {{>footer}}

    <script src="/js/findGear.js"></script>
</body>

</html>